.site-info-container{  
    max-height: 90vh;
    overflow-y: scroll;
    background-color: #161617;
    padding-bottom: 5vh;
   
    .border-bottom{
        border-bottom: 1px solid #35353b !important;
        margin-top: 48px;
        margin-left: 5%;
        margin-right: 11%;

    }
    .mid-container{
        padding-left:100px;
        padding-right: 100px;
        .title{
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
        }
        .client-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .team-info-container{
        padding-left:100px;
        padding-right: 100px;
        .team-info-title{
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
        }
        .team-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }

    .submit {
        margin-top: 35px;
    }
}