

.sidenav {
    display: block !important;
    background-color: #232325;
    width: 250px;
    //height: 100%;
    transition: 0.3s;
    font-weight: $bold;
    
}

.top-part {
    height: 91.79%;
}

.sidebar-option-top {
    display: flex;
    align-items: center;
    padding: 16px 10px;
}

.sidebar-option {
    text-decoration: none;
    color: $base-white;
    display: flex;
    padding: 20px 17px;
    align-items: center;
    outline: none !important;
    &:hover {
        outline: none !important;
        -webkit-user-select: none;
        user-select: none;
        text-decoration: none;
        color: $base-white;
    }
    &:active {
        background-color: #161617 !important;
        outline: none !important;
        -webkit-user-select: none;
        user-select: none;
    }

    &:focus {
        background-color: #161617 !important;
        outline: none !important;
        -webkit-user-select: none;
        user-select: none;
    }
}

.sidebar-icon {
    width: 20px;
    min-width: 20px;
    height: 20px;
}

.circle {
    height: 20px;
    width: 20px;
    min-width: 20px;
    border-radius: 50%;
    background-color: $accordion-card-background;
}

.sidebar-text {
    padding-left: 20px;
    padding-bottom: 2px;
    font-size: $font-least-fontSize;
}

.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $accordion-dark-background;
    width: 35px;
    min-width: 35px;
    height: 32px;
    border-radius: 4px;
}

.bar {
    width: 20px;
    height: 2.5px;
    background-color: $base-white;
    margin-bottom: 3.5px;
}

.top-text {
    padding-left: 20px;
    font-size: 19px;
}

.main {
    background-color: #161617;
    width: calc(100vw - 250px);
    // width: 100%;  // This is causing issues
    height: 100%;
    transition: 0.3s;
    z-index: 1;
}

.logout {
    display: flex;
    height: calc(100% - 80px);
    .name-circle {
        width: 40px;
        min-width: 40px;
        height: 40px;
        color: #cdcdcd;
        background-color: $accordion-dark-background;
        border-radius: 50%;
        margin-left: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .user-info {
        padding-left: 20px;
        .username {
            font-size: 16px;
            font-weight: $regular;
            margin-bottom: 6px;
        }
        .logout-text {
            font-size: 13px;
            font-weight: $regular;
            opacity: 0.5;
            margin: 0;
        }
    }
    .logout-down-arrow {
        width: 12px;
        height: 8px;
        margin: 8px;
        margin-left: 15px;
    }
}

