@import '../../SCSS/fonts';

.sidenav {
    background-color: #232325;
    width: 22.852vw;
    //height: 100%;
    transition: 0.3s;
    font-weight: 600;
}

.sidebar-option-top {
    display: flex;
    height: 4.5vh;
    width: 20.63vw;
    padding: 1.93vh 1.1vw;
    align-items: center;
}

.sidebar-option {
    text-decoration: none;
    color: #ffffff;
    display: flex;
    height: 4.5vh;
    width: 19.15vw;
    padding: 2.65vh 1.85vw;
    align-items: center;
    outline: none !important;
    &:active {
        background-color: #161617 !important;
        outline: none !important;
        -webkit-user-select: none;
        user-select: none;
    }

    &:focus {
        background-color: #161617 !important;
        outline: none !important;
        -webkit-user-select: none;
        user-select: none;
    }
}

.sidebar-icon {
    width: 18px;
    height: 18px;
}

.circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: #dedede;
}

.sidebar-text {
    padding-left: 1.75vw;
    padding-bottom: 0.4vh;
    font-size: 1em;
}

.hamburger {
    // height: 3.85vh;
    // width: 3.418vw;
    background-color: #35353b;
    border-radius: 0.25em;
    padding: 10px 8px;
    padding-bottom: 7px;
}

.bar {
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 3px;
    // transition: 0.3s;
}

.top-text {
    padding-left: 2.4vw;
    font-size: 1.1em;
}

.main {
    background-color: #161617;
    width: 77.148vw;
    // width: 100%;  // This is causing issues
    height: 100%;
    transition: 0.3s;
}

