.add-new-client-container{  
    max-height: 90vh !important;
    overflow-y: scroll;
          
    .required{
        font-size: 12px;
        font-weight: bold;
        position: relative;
        left: 75%;
        padding-top: 16px;
    }
   
    .border-bottom{
        border-bottom: 1px solid #35353b !important;
        margin-top: 48px;
        margin-left: 5%;
        margin-right: 11%;

    }
    .client-info-container{
        padding-left:100px;
        padding-right: 100px;
        .title{
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
        }
        .client-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .team-info-container{
        padding-left:100px;
        padding-right: 100px;
        .team-info-title{
            font-size: 20px;
            font-weight: bold;
            margin-top: 40px;
        }
        .team-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .support-info-container{
        padding-left:100px;
        padding-right: 100px;
        .support-info{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
    .add-support-resource{
        margin-left:100px;
        margin-right: 100px;
        margin-top: 40px;
        border-radius: 19.5px;
        padding: 2px 8px 2px 8px;
        outline: none;
        color: white;
        background-color: $accordion-dark-background;
        border: none;
        &.true{
            color: #727279;
        }
        span{
            //font-size: 24px;
            padding-right: 5px;
        }
    }
    

}