

.assessments {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    max-height: 100%;
    .search-and-add{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 5%;
        .search-clients{
            background-color: inherit;
            border:unset;
            border-bottom: $search-client-border;
            color: $white;
            width: 45%;
            
        }
        .add-button{
            text-align: right;
        .custom-button{
            margin-left:$common-margin;
            border-radius: $border-radius-extra-large;
            background-color: $add-site-color;
            outline: none;
            border: unset;
        }
    }
    }
    .tab-group{
        .nav.nav-tabs{
            width: 100%;
            border-bottom: unset;
            justify-content: center;
            
        }
        .nav-item.nav-link{
            border-radius: 4px;
            background-color:$accordion-dark-background;
            color: white;
            opacity: 0.5;
            outline: none;
            width: $tab-width;
            text-align: center;
            &.active{
                opacity: unset;
                outline: none;
                width: $tab-width;
                text-align: center;
                color: #35353b;
                background-color: #fefefe
            }
        }
    }
    .tab-group{
        width: 100%;
        .nav.nav-tabs{
            margin-bottom: 5%;
        }
    }
    .accordion-factory-view{
        width: 100%;
        
    }
   
}