.loader {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    p {
        margin: 0;
        margin-left: 10px;
        font-size: 20px;
        font-weight: 600;
    }
}

.assessments {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    max-height: 100%;

    .search-and-add{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 5%;
        .search-clients{
            background-color: inherit;
            border:unset;
            border-bottom: $search-client-border;
            color: $white;
            width: 45%;
            
        }
        .add-button{
            text-align: right;
        .custom-button{
            margin-left:$common-margin;
            border-radius: $border-radius-extra-large;
            background-color: #549ad7;
            outline: none;
            border: unset;
            width: 129px;
            height: 48px;
        }
    }
    }
    .tab-group{
        .nav.nav-tabs{
            width: 100%;
            border-bottom: unset;
            justify-content: center;
            
        }
        .nav-item.nav-link{
            border-radius: 4px;
            background-color:$accordion-dark-background;
            color: white;
            opacity: 0.5;
            outline: none;
            width: 96px;
            height: 35px;
            text-align: center;
            padding: 8px;
            font-size: 14px;
            font-weight: 500;
            &.active{
                opacity: unset;
                outline: none;
                text-align: center;
                color: #35353b;
                background-color: #fefefe
            }
        }
    }
    .tab-group{
        width: 100%;
        .nav.nav-tabs{
            margin-bottom: 5%;
        }
    }
    .accordion-factory-view{
        width: 100%;
        
    }
   
}