@import '../../SCSS/fonts';

.assessments {
    display: flex;
    flex-direction: column;
    padding: 2vh;
    align-items: center;
    max-height: 100%;
    .search-and-add{
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        margin-bottom: 5%;
        .search-clients{
            background-color: inherit;
            border:unset;
            border-bottom: $search-client-border;
            color: $white;
            width: 45%;
        }
        .add-button{
            text-align: right;
        .custom-button{
            margin-left:$common-margin;
            border-radius: $border-radius-extra-large;
            background-color: $custom-blue;
            outline: none;
        }
    }
    }
    .tab-group{
        width: 100%;
        .nav.nav-tabs{
            margin-bottom: 5%;
        }
    }
    .accordion-factory-view{
        width: 100%;
        .accordion{
            max-height: $accordion-max-height;
            overflow-y: scroll;
        }
    }
}