.general-questions-box{
    padding: 23px 24px 21px 24px;
    background-color: #fefefe;
    border-radius: 8px;
    color: #232325;
    .general-questions{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 24px;
    }
    .questions{
        display: grid;
        grid-template-columns: 24px 90%;
        grid-template-rows: repeat(autofill 20px);
        .question-number{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 40px;
        }
        .question{
            margin-bottom: 40px;
        }
    }
    .flag-button{
        text-align: right;
        .custom-button{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        background-color: none;
        outline: none !important;
        border: none;
    }
    }

}