.MuiIconButton-root{
    color:unset !important;
}

.notes-card {
    margin-top: 20px;
    .notes-card-header {
        display: flex;
        align-items: flex-start;

        .header-block {
            .user-name {
                font-size: 14px;
                font-weight: bold;
            }

            .date-time {
                color: #dedede;
                font-size: 12px;
                display: flex;
                p {
                    margin-right: 13px;
                }
            }
        }
    }
    .notes-card-content {
        border-radius: 8px;
        background-color: #35353b;
        color: #fefefe;
        font-size: 14px;
        padding: 24px;
        width: 63.78vw;
    }
}
.MUIRichTextEditor-editorContainer-98.MUIRichTextEditor-placeHolder-102{
    height: 220px;
    //width: 50%;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{
    height: 220px;
    //width: 50%;
}
.MUIRichTextEditor-root-94{
    width: 100% !important;
}
#mui-rte-editor{
    border-bottom: unset;
}

textarea{
    height: 300px;
    width: 100%;
    background-color: inherit;
    border: unset;
    color: white;
}
