.MuiIconButton-root{
    color:unset !important;
}
.MUIRichTextEditor-editorContainer-98.MUIRichTextEditor-placeHolder-102{
    height: 220px;
    //width: 50%;
}
.public-DraftStyleDefault-block.public-DraftStyleDefault-ltr{
    height: 220px;
    //width: 50%;
}
.MUIRichTextEditor-root-94{
    width: 100% !important;
}
#mui-rte-editor{
    border-bottom: unset;
}

textarea{
    height: 300px;
    width: 100%;
    background-color: inherit;
    border: unset;
    color: white;
}