

.listview-accordion.accordion{
    width: 100%;
    .card{
        border-radius: $border-radius !important;
        
        background-color:unset;
        border: unset;
        width: 100%;
        margin-bottom: 0px !important;

        .card-header{
            display: flex;
            align-items: center;
            background-color: $accordion-dark-background; 
            // margin-bottom: $common-margin !important;
            margin-top: $common-margin !important;
            border-radius:$border-radius ;
            width: 100%;
            padding: 16px 32px;

            &.true {
                .drop-down{
                    transform:rotate(180deg);
                    transition-duration: 0.3s;
                    transition-timing-function: linear;
                }
            }
            // .drop-down{
            //     transform:rotate(180deg);
            //     transition-duration: 0.3s;
            //     transition-timing-function: linear;
            // }

            .btn.btn-link{
                position: unset;
                // left: 95%;
                .dropdown-icon{
                    font-size: $font-least-fontSize;
                }
            }
            
            .listview-card {
                display: grid;
                grid-template-columns: 1fr 8fr;
                grid-template-rows: 87px;
                align-items: center;

                .area-name {
                    width: 139px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .assess-overview-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                height: 7.04vh;

                .area-name {
                    width: 307px;
                    min-width: 307px;
                    font-size: 18px;
                    font-weight: 600;
                }

                button.form-navigation-button {
                    margin-left:$common-margin;
                    border-radius: $border-radius-extra-large;
                    background-color: $add-site-color;
                    outline: none;
                    border: unset;
                    width: 11.75%;
                    position: unset;
                    padding: 5px !important;
                }

                .percent-complete {
                    margin: 11px 0px;
                    margin-right: 50px;
                    font-weight: 600;
                    .progress {
                        width: 30vw;
                        height: 0.5rem;
                        background-color: #232325;

                        .bg-success {
                            background-color: #57bb50 !important;
                        }
                    }
                }
            }
        }

        .collapse,.collapsing,.collapse-show{
            background-color: $accordion-dark-background;
            margin-top: -6px;
            padding-bottom: 10px;

            .tr-com-box {
                background-color: #232325;
                margin: 8px 24px;
                width: 95%;
                border-radius: 8px;
                padding: 10px 10px;
                .edit {
                    display: flex;
                    width: 100%;
                    justify-content: flex-end;
                }
                .tr-box {
                    margin: 0 35px;
                    .tr-heading {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        margin-bottom: 1.5vh;
                    }

                    .tr-text {
                        font-size: 14px;
                        color: #dedede;
                        margin: 0;
                    }
                }
            }

            .input-group {
                display: flex;
                flex-direction: column;
                margin: 0px 35px;

                .form-row {
                    margin: 0;

                    .form-label {
                        font-weight: 600;
                    }

                    .form-control {
                        background-color: #35353b;
                        border-radius: 8px;
                        color: #dedede;
                        width: 33.5vw;
                        height: 29.3vh;
                        border: none;
                        flex: none;
                        background-clip: unset;
                    }

                    .text-muted {
                        color: #727279!important;
                        font-size: 92%;
                        margin: 0;
                        margin-right: 10px;
                    }
                }

                .input-group-append {
                    margin-right: 80px;
                    justify-content: flex-end;
                    align-items: center;

                    .btn {
                        border-radius: 25px;
                    }
                }
            }

            .listview-card {
                display: grid;
                grid-template-columns: 1fr 8fr 1fr;
                grid-template-rows: 87px;
                align-items: center;
                margin: 20px 32px;

                .area-name {
                    width: 139px;
                    font-size: 18px;
                    font-weight: 600;
                }
            }

            .assess-overview-card {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 21px;
                margin: 23px 23px 12px 23px;
                border-top: 1px solid #232325;
                font-weight: 600;

                .area-name {
                    width: 139px;
                    font-size: 18px;
                }

                button.form-navigation-button {
                    margin-left:$common-margin;
                    border-radius: $border-radius-extra-large;
                    background-color: $add-site-color;
                    outline: none;
                    border: unset;
                    width: 11.75%;
                    position: unset;
                    padding: 5px !important;
                }
            }
        }
    
    }

}