.add-new-client-title{
    background-color: #232325;
    padding-left:5px;
    padding-right: 5px;
.custom-button{
    height: 32px;
    position: relative;
    left: 40px;
    width: 35px;
    border-radius: 4px;
    background-color: #35353b;
    margin: $common-margin;
}
.title-text{
    position: relative;
    left: 45%;
    font-weight: bold;
    font-size: 18px;
}
} 