.setup-site-details{
    overflow-y: auto;
    height: 100vh;
    overflow-x: hidden;
    .add-new-client-title{
        background-color: #232325;
        padding-left:5%;
        padding-right: 5%;
    .custom-button{
        height: 32px;
        position: relative;
        left: 2.5%;
        width: 35px;
        border-radius: 4px;
        background-color: #35353b;
        margin: $common-margin;
    }
    .title-text{
        position: relative;
        left: 45%;
        font-weight: bold;
        font-size: 18px;
    }
}
    .site-header-container{
        
        padding-left: 10%;
        padding-right: 5%;
        background-color: #232325;
        padding-top: 32px;
        padding-bottom: 32px;
        .site-name{
            font-size: 32px;
            font-weight: 600;
        }
    }
        .site-form-modal{
           padding-bottom: 32px;
        .site-form{
            background-color:#35353b;
            padding-left: 5%;
            padding-bottom: 2%;
            margin: 0 10%;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
            border-radius: 8px;
            .bottom-border{
                border-top: 1px solid #161617 !important;
                margin-top: 56px;
                width: 100%;
            }
        }
        .site-number{
            position: relative;
            left: 10%;
            margin: 32px 0 32px 0;
            font-size: 20px;
            font-weight: bold;
        }
        
        
    }
    .border-bottom{
        width: 80%;
        margin-left: 10%;
        border-bottom: 1px solid #35353b !important;
    }

    button.form-navigation-button{
        margin: 32px 0px 32px 0px;
        padding: 8px;
        
    }
    
}