
.main{
    width: 100%;
    
    .reports-container{
        width: 100%;
        height: 100%;
        overflow: auto;
        // padding: 16px 16px 0px 48px;
        background-color: #232325;
        .delete-modal {
            position: fixed;
            z-index: 1;
            padding-top: 100px;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
        }
          
        .modal-content {
            position: relative;
            background-color: #232325;
            margin: auto;
            padding: 0;
            border-radius: 8px;
            width: 58.4%;
            height: 34%;
        }
        .modal-header {
            justify-content: center;
            padding: 2px 16px;
            padding-top: 40px;
            color: #dedede;
            border: none;
            font-size: 20px;
            font-weight: bold;
        }
          
        .modal-body {
            padding: 2px 16px;
            text-align-last: center;
            flex: none;
            margin-bottom: 10px;
        }
          
        .modal-footer {
            padding: 2px 16px;
            border: none;
            justify-content: center;
            .custom-button{
                margin-left:$common-margin;
                border-radius: $border-radius-extra-large;
                background-color: #c02424;
                outline: none;
                border: unset;
                width: 27.75%;
                height: 48px;
            }
        }
        .assessment-overview-title{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 18px;
            font-weight: bold;
            padding: 16px 16px 10px 0px;
            margin-bottom: 30px;
            display: flex;
            
            .custom-button{
                height: 32px;
                position: relative;
                left: 2.5%;
                width: 35px;
                border-radius: 4px;
                background-color: #35353b;
            }
            .title-text{
                margin: auto;
            }
            .remove-site {
                display: flex;
                align-items: center;
                color: #dedede;
                font-size: 14px;
                font-weight: 600;
            }
        }
        h2{
            padding-left: 5%;
            padding-right: 5%;
            .share-link{
                font-size:16px;
                text-align: right;
                float: right;
            }
            .custom-button{
                width: 48px;
                height: 48px;
                border: solid 2px #006cc8;
                border-radius: 50%;
                margin-left: 16px;
                background-color: inherit;
                margin-right: 32px;
            }
        }
        .company-name{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 18px;
            opacity: 0.6;
            font-weight: 600;
            padding-top: 8px;
            margin-bottom: 30px;
            
        }
        
       

        .tab-content{
            background-color: #161617;
        }
        .nav-tabs{
            border-bottom: unset;
            padding-left: 5%;
            padding-right: 5%;
            .nav-item.nav-link{
                color:#ffffff;
                opacity: 0.5;
                border: unset;
                &.active{
                    color:#ffffff;
                    opacity: unset;
                    font-weight: bold;
                    border-bottom:4px solid #57bb50;
                    background-color: unset;
                    
                }
                
            }
        }
    }

}