
.main{
    width: 100%;
    
    .reports-container{
        width: 100%;
        height: 100%;
        overflow: auto;
        // padding: 16px 16px 0px 48px;
        background-color: #232325;
        .assessment-overview-title{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 18px;
            font-weight: bold;
            padding: 16px 16px 10px 0px;
            margin-bottom: 30px;
            display: flex;
            justify-content: space-between;
            .custom-button{
                height: 32px;
                position: relative;
                left: 2.5%;
                width: 35px;
                border-radius: 4px;
                background-color: #35353b;
            }
            .title-text{
                position: relative;
                left: 5%;
            }
            .remove-site {
                display: flex;
                align-items: center;
                color: #dedede;
                font-size: 14px;
                font-weight: 600;
            }
        }
        h2{
            padding-left: 5%;
            padding-right: 5%;
            .share-link{
                font-size:16px;
                text-align: right;
                float: right;
            }
            .custom-button{
                width: 48px;
                height: 48px;
                border: solid 2px #006cc8;
                border-radius: 50%;
                margin-left: 16px;
                background-color: inherit;
                margin-right: 32px;
            }
        }
        .company-name{
            padding-left: 5%;
            padding-right: 5%;
            font-size: 18px;
            opacity: 0.6;
            font-weight: 600;
            padding-top: 8px;
            margin-bottom: 30px;
            
        }
        
       

        .tab-content{
            background-color: #161617;
        }
        .nav-tabs{
            border-bottom: unset;
            padding-left: 5%;
            padding-right: 5%;
            .nav-item.nav-link{
                color:#ffffff;
                opacity: 0.5;
                border: unset;
                &.active{
                    color:#ffffff;
                    opacity: unset;
                    font-weight: bold;
                    border-bottom:4px solid #57bb50;
                    background-color: unset;
                    
                }
                
            }
        }
    }

}