@import '../../SCSS/fonts';
@import '../../SCSS/config';

.accordion-parent.accordion{
    width: 100%;
    .card{
        border-radius: $border-radius !important;
        
        background-color:unset;
        border: unset;
        width: 100%;

        .card-header{
            display: flex;
            background-color: $accordion-dark-background; 
            // margin-bottom: $common-margin !important;
            margin-top: $common-margin !important;
            border-radius:$border-radius ;
            width: 100%;
            padding: 16px 32px;

            .btn.btn-link{
                position: unset;
                // left: 95%;
                .dropdown-icon{
                    font-size: $font-least-fontSize;
                }
            }
            
            .reports-card {
                display: flex;
                justify-content: center;
                align-items: center;

                .area-name {
                    width: 139px;
                    height: 87px;
                    font-size: 18px;
                }
            }
        }
    
    }

}

.accordion-child.accordion{
    width: 100%;
    .child-card.card{
        margin-right: 16px;
        margin-left: 16px;
        width: 100%;
        .card-header-child.card-header{
            background-color: $accordion-dark-background;
            margin-top: 16px !important;
            margin-bottom: 0px !important;
            border-radius: $border-radius-large;
            width: 100%;
            .reports-card {
                display: flex;
                justify-content: center;
                align-items: center;

                .area-name {
                    width: 139px;
                    height: 87px;
                    font-size: 18px;
                }
            }
        }
        .collapse.show,.collapsing,.collapse-show{
            // background-color: $accordion-dark-background;

            .reports-card {
                display: flex;
                justify-content: center;
                align-items: center;

                .area-name {
                    width: 139px;
                    height: 87px;
                    font-size: 18px;
                }
            }
        }
    }
}