.accordion-parent.accordion{
    .card{
        border-radius: $border-radius !important;
        
        background-color:unset;
        border: unset;

    .card-header{
        background-color: $accordion-dark-background; 
        margin-bottom: $common-margin !important;
        margin-top: $common-margin;
        border-radius:$border-radius ;
        .industry-name-number{
            font-size: $font-normal-fontSize;
            padding: 0px 10px 10px 0px;
            display: grid;
            grid-template-columns: 3fr 1fr 1fr;
            //color: white;
            //color: #161617;
            font-weight:$bold;
            .company-name{
               .upload{
                   margin-left: $common-margin;
               } 
            }
            .number-open{
                text-align: right;
                margin-right:$common-margin;
            }
            .number-completed{
                text-align: center;
            }
        }

        .industry-text-info{
            font-size: $font-least-fontSize;
            padding: 0px 10px 10px 0px;
            display: grid;
            grid-template-columns:3fr 1fr 1fr;
            //color: #161617;
            //color: white;
            opacity: 0.6;
            .open-text{
               text-align: right;
            }
            .completed-text{
                text-align: center;
            }
        }

        .btn.btn-link{
            position: relative;
            top: -60px;
            left: 95%;
            .dropdown-icon{
                font-size: $font-least-fontSize;
    
            }
        }
        
    }
    
}

}

.accordion-child.accordion{
    .child-card.card{
        margin-right: 16px;
        margin-left: 16px;
        .card-header-child.card-header{
            background-color: #3B3B35;
            margin-top: 16px !important;
            margin-bottom: 0px !important;
            border-radius: $border-radius-large;
            .industry-name-number{
                font-size:16px;
                font-weight:100;
                
            }
        }
        .collapse,.collapsing,.collapse-show{
            background-color: white;
        }
    }
}