    
 .custom-control-label::before{
    background-color:inherit !important;
  
    
}
.custom-control-input:checked~.custom-control-label::before{
    background-color: #57bb50 !important;
    border-color: unset;
} 
   


