.dropdown{
    margin-top: 40px;
    label{
        font-size:12px;
        opacity: 0.5;
        font-size: 12px;
    }
    display: grid;
    grid-template-rows: 1fr 1fr;
    .dropdown-select{
    background-color: inherit;
    border: unset;
    border-bottom: 1px solid #727279;
    color: white;
    width: 80%;
    border-radius: unset;
    }   
}