.labelled-input-field{
    margin-top: 20px;
    display: grid;
    grid-template-rows:20px 40px;
    label{
        font-size:12px;
        opacity: 0.5;
        font-size: 12px;
    }
    input{
        background-color: inherit;
        border: unset;
        border-bottom: 1px solid #ffffff;
        color: white;
        width: 91%;
        &.true{
            border-bottom: 1px solid red !important;
        }
        
    }
    .required-text{
        padding-top: 8px;
    }
}