.custom-button{
    width: 26%;
    outline: none;
    color: white;
    border: none;
    outline: none !important;
    
}


.form-navigation-button{
        
        
        position: relative;
        left: 75%;
        color: White;
        background-color: #0b6ec5;
        border-radius: 24px;
        padding: 8px 10px 10px 8px;
        border: unset;   
        font-weight: 500; 
        outline: none !important;
        width: 14%;  
        &.false{
            opacity: 0.5;
            pointer-events: none;
        }
        &.true{
            opacity: 1;
            cursor: pointer;
        }
        
}

.download-button{
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px 4px 8px;
    background: inherit;
    color:white;
    outline: none !important;
    border:2px solid white;
}


.navigation-questionnaire{
    background-color: inherit;
    font-size: 14px;
    font-weight: bold;
    color: #727279;
    outline: none !important;
    border: none;
}

.save-and-exit{
    background-color: inherit;
    color: #fff;
    border-radius: 24px;
    border: solid 2px #616161;
    padding: 14px 24px 15px 24px;
    outline: none !important;
    font-size: 16px;
    font-weight: 500;
}