.custom-button{
    width: 26%;
    outline: none;
    color: white;
    outline: none !important;
    &:focus {
        border: $button-click-border;
    }
}


.form-navigation-button{
        position: relative;
        left: 70%;
        color: White;
        background-color: #0b6ec5;
        border-radius: 24px;
        padding: 8px 10px 10px 8px;
        border: unset;   
        font-weight: 500; 
        outline: none !important;
        width: 14%;  
        
}

.download-button{
    border-radius: 16px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px 4px 8px;
    background: inherit;
    color:white;
    outline: none !important;
    border:2px solid white;
}